footer {
  .sns-area {
    text-align: center;
    padding: 90px 0 60px 0;
    ul {
      li {
        img {
          height: 35px;
          margin-top: 10px;
        }
      }
    }
  }
  .copy-area {
    padding-bottom: 10px;
    p {
      font-size: 10px;
      color: #666666;
    }
  }
}