main {
  .concept {
    padding: 0 10%;
    .concept-coffee {
      // display: flex;
      position: relative;
      margin-bottom: 25px;
      img{
        height: 100%;
      }
      .text-box1 {
        background: #e6e6e6;
        border: 10px solid #e6e6e6;
        box-shadow: 0px 0px 0px 1px #FFFFFF inset;
        height: 215px;
        width: 515px;
        padding: 30px 45px;
        opacity: 0.9;
        position: absolute;
        top: 20%;
        right: 0%;
        p {
          margin-top: 10px;
        }
      }
    }
    .concept-beer {
      // display: flex;
      height: 100%;
      position: relative;
      img {
        height: 100%;
        margin-left: 50%;
      }
      .text-box2 {
        background: #e6e6e6;
        border: 10px solid #e6e6e6;
        box-shadow: 0px 0px 0px 1px #FFFFFF inset;
        height: 225px;
        width: 515px;
        padding: 30px 45px;
        opacity: 0.9;
        position: absolute;
        top: 20%;
        left: 0%;
        p {
          margin-top: 10px;
        }
      }
    }
  }
  .menu {
    padding: 0 10%;
  }
  .photo {
    padding: 0 10%;
    ul {
      li {
        a {
          img{
            height: 300px;
          }
        }
      }
    }
  }
  .shop {
    padding: 0 10%;
  }
  .access {
    padding: 0 10%;
  }
}